
<div class="row">
  <div class="large-12">
    <h1>Questions</h1>

      <ol>
      <% @questions.each do |question| %>
        <li><%= link_to("#{question.title}", "/questions/#{question.id}",
        :controller => :answers, :action => :create) %></li>
            <% user = User.find_by(id: question.user_id) %>
            <% if user.present? %>
              <%= user.email %>
            <% end %>
              <%= question.created_at %>
          <% end %>
      </ol>
    <%= link_to("New Question", new_question_path) %>
  </div>
</div>
